<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168551722934-t5bg18nb7oo57dg3anv8vfqs194t0fec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168551722934-t5bg18nb7oo57dg3anv8vfqs194t0fec</string>
	<key>API_KEY</key>
	<string>AIzaSyDoPxLspjsaQum0ojTC4CPe3yDKz4HhcQo</string>
	<key>GCM_SENDER_ID</key>
	<string>168551722934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MagalyTrevino.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktacular-16f41</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacular-16f41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168551722934:ios:04df0534f544be92bd1b17</string>
</dict>
</plist>